{% extends "base.html" %}

{% block menu %}
<ul class="nav">
	<li class="active">
		<a href="./">Inicio</a>
	</li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Cosultas<b class="caret"></b></a>
		<ul class="dropdown-menu">
            <li><a href="/eventos">Eventos</a></li>
            <li class="divider"></li>
			<li><a href="/delegacion_c">Delegacion</a></li>
			<li><a href="/ciudad_c">Ciudad</a></li>
			<li><a href="/municipio_c">Municipio</a></li>
			<li><a href="/descvial_c">Descripcion Vial</a></li>
            <li class="divider"></li>
			<li><a href="/vehiculos_c">Vehiculos</a></li>
            <li class="divider"></li>
			<li><a href="/personas_c">Persona</a></li>
		</ul>
	</li>
	<li class="">
		<a href="./reportes">Reportes</a>
	</li>	        
</ul>
{% endblock %}
	{% block content %}
	<div class="hero-unit">
		<h1>Lesiones de transito</h1>
		<p>Observatorio</p>
		<p>
			<a class="btn btn-primary btn-large">Introduccion</a>
		</p>
	</div>

	{% endblock %}

	
