<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

	<title>Evento</title>
	<meta charset="utf-8"/>
	{% load bootstrap_toolkit %}{% bootstrap_stylesheet_tag %}
	<style type="text/css" media="screen">
		.container {width:800px}
		.navbar .container {width: 800px}
		#map {width: 500px; height: 300px}
	</style>
	<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	{% bootstrap_javascript_tag %}
	<script>
	var map;
	var marker;
	
	function initialize() {
	    map = new google.maps.Map(document.getElementById('map'), {
		zoom: 9,
		center: new google.maps.LatLng(32.477329,-117.089767),
		mapTypeId: google.maps.MapTypeId.ROADMAP
	    });
	
	

	new google.maps.Marker(
	{
		position:new google.maps.LatLng({{evento.latitud}}, {{evento.longitud}}), 
		map:map,
		title: "hola mundo",
		icon: 'http://gmaps-samples.googlecode.com/svn/trunk/markers/red/blank.png',
		cursor: 'default',
        animation: google.maps.Animation.DROP,
		draggable:false
	}
	);

	}
	</script>

</head>
<body onload='initialize()'>
	<div class ="navbar navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            			<span class="icon-bar"></span>
	            		<span class="icon-bar"></span>
		            	<span class="icon-bar"></span>
          		</button>
			<a class="brand" href="/">Observatorio</a>
			<div class="nav-collapse collapse">
            		<ul class="nav">
			        <li class="active">
			             <a href="./">Inicio</a>
			        </li>
			        <li class="dropdown">
					<a href="." class="dropdown-toggle" data-toggle="dropdown">Cosultas<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/eventos">Eventos</a></li>
                        <li class="divider"></li>
                        <li><a href="/delegacion_c">Delegacion</a></li>
                        <li><a href="/ciudad_c">Ciudad</a></li>
                        <li><a href="/municipio_c">Municipio</a></li>
                        <li><a href="/descvial_c">Descripcion Vial</a></li>
                        <li class="divider"></li>
                        <li><a href="/vehiculos_c">Vehiculos</a></li>
                        <li class="divider"></li>
                        <li><a href="/personas_c">Persona</a></li>
					</ul>
				</li>
			        <li class="">
			             <a href="./reportes">Reportes</a>
			        </li>
        	        
           		 </ul>
			<form class="navbar-form pull-right">
			<input class="span2" type="text" placeholder="Usuario">
			<input class="span2" type="password" paceholder="Contraseña">
			<button type="submit" class="btn">Ingresar</button>
			</form>
         		 </div>
		</div>
	</div>

<div class="container">
	<div id="content" class="flex">
	{% block content %}
	<hr />
	<h1>Persona: {{ item }} ||<small>Evento: {{item.evento.id}}</small> <a class="btn" href="{{ item.evento.get_absolute_url }}">Ir a evento</a></h1>
	<hr /><hr />
        <b>Edad: </b>{{item.edad|safe }}<hr />
	    <b>Sexo: </b>{{item.sexo|safe }}<hr />
        <b>Estado Civil:</b> {{item.estado_civil|safe }}<hr />
        <b>Escolaridad:</b> {{item.escolaridad|safe }}<hr />
        <b>Rol:</b> {{item.rol|safe }}<hr />
        <b>Ocupación:</b> {{item.ocupacion|safe }}<hr />
        <b>Gravedad de la lesion:</b> {{item.gravedad_lesion|safe }}<hr />
	    <b>Muerte en la escena: </b>{{item.muerte_escena|safe }}<hr />
	    <b>Fecha de Muerte: </b>{{item.fecha_mort|safe }}<hr />
	    <b>Prioridad:</b> {{item.prioridad|safe }}<hr />
        <b>Num. de ambulancia:</b> {{item.num_ambulancia|safe }}<hr />
        <b>Operador:</b> {{item.operador|safe }}<hr />
        <b>Prestador del servicio:</b> {{item.prestador_servicio|safe }}<hr />
        <b>Vehiculo:</b> {{item.vehiculo|safe }}
        <a class="btn" href="{{ item.vehiculo.get_absolute_url }}">Ir a vehiculo</a></h1><hr />


	{% endblock %}
	</div>
</div>
</body>
</html>